
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.117;
    letter-spacing: 0.03em; 
    color: #4D5AE5;
}

.logo-back-side{
    color: #2E2F42;
}

.studio-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.002em;
    color: #2E2F42;
}

.studio-btn:hover{
    color: #404BBF;
}
.our-contact{
    color: #2E2F42;
}

.our-contact:hover{
    color: #4D5AE5;
}

.our-contact:focus{
    color: #4D5AE5;
}

.order-button{
    background-color: #4D5AE5;
}

.order-button:hover{
    background-color: #404BBF;
}